 body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgrey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 


.input > input {
  width: 40vw;
  height: 4vh;
  font-size: 16px;
  
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom:  10vh;
}


.container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
}



.country {
  position: relative;
  width: 200px;
  height: 300px;
  padding: 20px;
  background-color: antiquewhite;
}

.image {
  max-width: 200px;
}

.basicInfo {
  position: absolute;
  bottom: 2px;
  font-size: large;
}